<div class="page-header">
  <%= link_to lines_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t ('app.back') %>
  <% end %>
  <h1><%= t 'lines.new.title' %></h1>
</div>

<%= render 'form' %>
